.bg{
    margin-top: -110px;
    @media screen and (max-width: 912px){
        margin-top: -216px;
    }
    @media screen and (max-width: 612px){
        margin-top: -46px;
    }
    background: linear-gradient(228.57deg, #323264 11.93%, #323264 57.17%, #643E72 87.46%) no-repeat;
    background-size: cover;
    border-radius: 0px 0px 12px 12px;
    position: relative;
    &::before{
        content: "";
        position: absolute;
        bottom: -10px;
        left: 50%;
        width: calc(100% - 40px);
        height: 10px;
        background: #CACADB;
        border-radius: 0px 0px 12px 12px;
        transform: translateX(-50%);
    }
    &::after{
        content: "";
        position: absolute;
        bottom: -20px;
        left: 50%;
        width: calc(100% - 80px);
        height: 10px;
        background: #E7E7F2;
        border-radius: 0px 0px 12px 12px;
        transform: translateX(-50%);
    }
}